:root {
    --ratio: 3.74;
    --cta-color: rgb(0, 102, 254);
    --light-color-bg: rgb(238, 241, 247);
    --tausta-tumma:  #333;
    --leading: 0.025em;
    --tausta-kulta : gold;
  }
/*Dialogin root muuttujat*/  


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

body:has(dialog[open]) {
    overflow-y: hidden ;
}

main {
    background-image: url(kuvat/background.jpg);
    padding: 20px;
    margin: 40px auto;
    width: 75%;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    height: 65px;
    border: 1px solid black;
    margin-left: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: gold;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 20px;
    background: linear-gradient(0deg, gold, gold) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 250ms;
    --bg-h: 100%;
}
li a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    color: black;
}





#logo {
    font-size: 30px;
    padding-right: 40px;
    padding-left: 10px;
    font-family: 'Sedgwick Ave Display', cursive;
    color: gold;
}

#teksti {
    text-align: center;
    margin: 100px auto;
    margin-right:  50px;
}
.pizza {
    height: 120px;
    width: 120px;
    position: absolute;
    top: -20px;
    right: 5px;
}
#info {
    font-family: 'IBM Plex Sans', sans-serif;
    color: gold;
    font-size: 14px;
    float: left;
    height: auto;
}
#aboutus {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
#story {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: white;
}
.image-container {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 50px;
}

.text-container {
    overflow: hidden;
    margin-top: 45px;
}

.pizzaplace {
    height: 220px;
    width: auto;
}

.pizzabackground {
    width: 100%;
    height: 325px;
}

footer {
    text-align: center;
    background-color: var(--tausta-tumma);
    color: white;
    padding: 10px 0;
    position:static;
    bottom: 0;
    width: 100%;
}


@media only screen and (max-width: 900px) {
    main {
        margin: auto;
        height:600px;
        
    }
    .text-container{
        width: 400px;
        height: 300px;
    
    }
    #info {
        font-size: 12px;
    }
}
@media only screen and (max-width: 725px) {
    main {
        width: 100%;
    }
    .clearfix {
        width: 100%;
    }
    ul {
        height: 135px;
    }


    .info {
        width: 50%;
    }

}

@media only screen and (max-width: 400px) {
    main {
        width: 100%;
    }
    .image-container {
        margin-left: 0;
    }
    .pizzaplace {
        height: 180px;
    }
    .text-container {
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    .main {
        height: 500px
    }

    .pizzaplace {
        display: none;
    }
    .pizza {
        height: 60px;
        width: 60p;
    }
    .text-container {
        height: 500px;
        font-size: 10px;
    }
}
